<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!--Column to read for depth value-->
        <add key="DepthCol" value="15" />
        <!--Max speed in ft / min-->
        <add key="MaxSpeed" value="300" />
        <!--Com port to monitor for incoming rolligon data-->
        <add key="SelectedCom" value="COM2" />
        <!--Depth encoder gain.-->
        <add key="DepthGain" value="0.004" />
        <!--Depth encoder offset.-->
        <add key="DepthOffset" value="0" />
        <!--Column to read for weight value.-->
        <add key="WeightCol" value="8" />
        <!--Weight sensor gain.-->
        <add key="WeightGain" value="12.845" />
        <!--Depth encoder offset.-->
        <add key="WeightOffset" value="-239000" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>