<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Column number to read for each channelvalue-->
		<add key="CirculatingCol" value="0" />
		<add key="WellheadCol" value="1" />
		<add key="Stripper1Col" value="2" />
		<add key="Stripper2Col" value="3" />
		<add key="UpperSkateCol" value="4" />
		<add key="MiddleSkateCol" value="5" />
		<add key="LowerSkateCol" value="6" />
		<add key="ChainTensionCol" value="7" />
		<add key="WeightCol" value="8" />
		<add key="Spare1Col" value="9" />
		<add key="SpeedCol" value="10" />
		<add key="FlowRateCol" value="11" />
		<add key="AuxFlowRateCol" value="12" />
		<add key="InjectorCol" value="13" />
		<add key="Spare2Col" value="14" />
		<add key="DepthCol" value="15" />	
		
		<!--Com port to monitor for incoming rolligon data-->
		<add key="SelectedCom" value="COM10" />
		
		<!--Com port to output scaled data to-->
		<add key="SelectedComOut" value="COM11" />

		<!--Channel gains and offsets.-->
		<add key="CirculatingGain" value="0.822" />
		<add key="CirculatingOffset" value="-5077.081" />

		<add key="WellheadGain" value="0.822" />
		<add key="WellheadOffset" value="-5077.081" />

		<add key="Stripper1Gain" value="0.206" />
		<add key="Stripper1Offset" value="-1267" />

		<add key="Stripper2Gain" value="0.206" />
		<add key="Stripper2Offset" value="-1267" />

		<add key="UpperSkateGain" value="0.123" />
		<add key="UpperSkateOffset" value="-761.562" />

		<add key="MiddleSkateGain" value="0.123" />
		<add key="MiddleSkateOffset" value="-761.562" />

		<add key="LowerSkateGain" value="0.123" />
		<add key="LowerSkateOffset" value="-761.562" />

		<add key="ChainTensionGain" value="0.206" />
		<add key="ChainTensionOffset" value="-1269.27" />

		<add key="WeightGain" value="19.267" />
		<add key="WeightOffset" value="-360000" />

		<add key="Spare1Gain" value="1" />
		<add key="Spare1Offset" value="0" />

		<add key="SpeedGain" value="0.025" />
		<add key="SpeedOffset" value="0" />

		<add key="FlowRateGain" value="1" />
		<add key="FlowRateOffset" value="0" />

		<add key="AuxFlowRateGain" value="1" />
		<add key="AuxFlowRateOffset" value="0" />

		<add key="InjectorGain" value="0.308" />
		<add key="InjectorOffset" value="-1903.905" />

		<add key="Spare2Gain" value="1" />
		<add key="Spare2Offset" value="0" />

		<add key="DepthGain" value="0.004" />
		<add key="DepthOffset" value="0" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>